<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a href="/new" class="btn btn-outline-success my-2 my-sm-0">Add Message</a>
    </nav>
    <h1><%= title %></h1>
    <ul class="container">
      <% messages.forEach(m => { %>
        <li class="card mb-4">
          <div class="card-body">
            <h2><%= m.user %>:</h2>
            <h3><%= m.text %></h3>
            <p><%= m.added %></p>  
          </div>
        </li>
      <% }) %> 
    </ul>
  </body>
</html>
